@charset "UTF-8";


@font-face {
    font-family: 'b2';
    src: url('../__MACOSX/fontes/b2.otf') format('opentype');

}

   
header{
    background-image: linear-gradient(to bottom, #39cb79,#1A5C38);
    color: white;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    max-width: 800px;
    margin: auto;
    padding-top: 15px;
}
header h1{
    text-align: center;
    font-family: "b2";

}
header p{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 17px;
}
main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding-top: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
   

main p{
    text-indent: 30px;
}
main h1{
    padding-bottom: 6px;
    text-align: center;
}
body{
    background-color: #84E1AD;
}
nav{
    margin: auto;
    background-color: #1a5c37;
    max-width: 800px;
    padding-bottom: 5px;
    }
a{
    color: white;
    text-decoration: none;  
    
}
*{
    margin: 0px;
    padding: 8px;
    text-align: justify;
    }
.p1{
    text-indent: 5px;
}
footer{
    text-align: center;
    background-color: #1a5c37;
    margin-top: 15px;
    margin-left: 2px;
    font-weight: bolder;
}

.video01{
    max-width: 750px;
    margin: 10px;
    margin: center;
    margin-left: 15px;
}

.setadireita{
    text-align: right;
    color: black;
    margin: 10px;
}