@charset "UTF-8";


@font-face {
    font-family: 'b2';
    src: url('../__MACOSX/fontes/b2.otf') format('opentype');

}

    

header{
    background-image: linear-gradient(to bottom, #39cb79,#1A5C38);
    color: white;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    max-width: 800px;
    margin: auto;
    padding-top: 15px;
}
header h1{
    text-align: center;
    font-family: "b2";

}
header p{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 17px;
}
main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding-top: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
div.video1{
    background-color: #1a5c37;
    margin-left: -7.8px;
    margin-right: -7.8px;
    margin-bottom: 30px;
    padding: -3px;
    position: relative;
    padding-bottom: 57%;
}
div.video1 > iframe{
    position: absolute;
    top: 3%;
    left: 3%;
    right: 3%;
    width: 90%;
    height: 90%;
    
}
main p{
    text-indent: 30px;
}
main h1{
    padding-bottom: 6px;
}
body{
    background-color:#84E1AD ;
}
nav{
    margin: auto;
    background-color: #1a5c37;
    max-width: 800px;
    padding-bottom: 5px;
    }
a{
    color: white;
    text-decoration: none;  
    
}
*{
    margin: 0px;
    padding: 8px;
    text-align: justify;
    }
.p1{
    text-indent: 5px;
}
.dan-droids img{
    margin-left: -44px;
    padding: 0px;
    max-width: 100%;
    
}
.irinablock{
    margin: -16px;
}
.androidpq{
    width: 650px;
    max-width: 100px;
}
main li{
    margin-left: 20px;
}
footer{
    text-align: center;
    background-color: #1a5c37;
    margin-top: 15px;
    margin-left: 2px;

}
main h3{
    background-color: #1a5c37;
    text-align: center;
    margin-left: -8.9px;
    margin-right: -8.9px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
